footer.footer.container-fluid
  .footer__logo
    img(src='/img/favicon.jpeg' alt='Natour logo')
  ul.footer__nav
    li: a(href='/') Home
    li: a(href='/mentors') Find Mentors
    li: a(href='/page') Become a Mentor
    li: a(href='https://github.com/Priyaraj17/Mentoraction') Github