mixin testinomial(user)
    //  ======= Testimonials Section ======= 
    section#testimonials.testimonials.section-bg
      .container
        .section-title
          h2 Testimonials
          p Necessitatibus eius consequatur ex aliquid fuga eum quidem
        .testimonials-slider.swiper-container(data-aos="fade-up", data-aos-delay="100")
          .swiper-wrapper
            .swiper-slide
              .testimonial-item
                p
                  i.bx.bxs-quote-alt-left.quote-icon-left
                  | Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.

                  i.bx.bxs-quote-alt-right.quote-icon-right
                img.testimonial-img(src="/img/testimonials/testimonials-1.jpg", alt)
                h3 Saul Goodman
                h4 Ceo & Founder
            //  End testimonial item 
            .swiper-slide
              .testimonial-item
                p
                  i.bx.bxs-quote-alt-left.quote-icon-left
                  | Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.

                  i.bx.bxs-quote-alt-right.quote-icon-right
                img.testimonial-img(src="/img/testimonials/testimonials-2.jpg", alt)
                h3 Sara Wilsson
                h4 Designer
            //  End testimonial item 
            .swiper-slide
              .testimonial-item
                p
                  i.bx.bxs-quote-alt-left.quote-icon-left
                  | Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.

                  i.bx.bxs-quote-alt-right.quote-icon-right
                img.testimonial-img(src="/img/testimonials/testimonials-3.jpg", alt)
                h3 Jena Karlis
                h4 Store Owner
            //  End testimonial item 
            .swiper-slide
              .testimonial-item
                p
                  i.bx.bxs-quote-alt-left.quote-icon-left
                  | Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.

                  i.bx.bxs-quote-alt-right.quote-icon-right
                img.testimonial-img(src="/img/testimonials/testimonials-4.jpg", alt)
                h3 Matt Brandon
                h4 Freelancer
            //  End testimonial item 
            .swiper-slide
              .testimonial-item
                p
                  i.bx.bxs-quote-alt-left.quote-icon-left
                  | Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.

                  i.bx.bxs-quote-alt-right.quote-icon-right
                img.testimonial-img(src="/img/testimonials/testimonials-5.jpg", alt)
                h3 John Larson
                h4 Entrepreneur
            //  End testimonial item 
          .swiper-pagination
    //  End Testimonials Section 